@import './Colors.module.scss';

.CategoriesContainer{
    display: flex;
    gap: 1rem;
       flex-direction: column;
       .CategoryNameContainer{
        display: flex;
        gap: 1rem;
       }    
}

.CategoriesContainer{
    background-color: $white;
    box-shadow: $box-shadow;
    padding: 1rem ;
    border-radius: 1rem;
    width: 90%;
    
}

.CategoryName{
    text-decoration: none;
 color: $black;
 display: flex;
}


.CategoryName > span {
 background-color: $silver;
padding: 0.5rem 0.5rem 0.5rem 0.5rem;
border-radius: 1rem;

}
