@import './Colors.module.scss';

.HeaderContainer{
    display: flex;
justify-content: space-between;
    align-items: center;
    flex-direction: row;
    .LogoHeader{
        position: relative;
        justify-content: flex-start;
    }

}

.HeaderContainer{
    background-color: $white;
    height: 5rem;
   box-shadow: $box-shadow;
}
.LinkLogo, .LinkCategories{
    text-decoration: none;
    color: $font-color-black;
}
.LinkLogo{
    padding: 0 0 0 1rem;
}

.LinkCategories{
    padding: 0 1rem 0 0;
}




